{{> menu}}
<table class="ui table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr>
      <td>
        {{name}}
      </td>
      <td>
        {{artists.[0].name}}
      </td>
      <td>
  
      </td>

    </tr>
    {{/each}}
  </tbody>
</table>