<nav class="ui inverted pink menu">
  <header class="ui header item"> Playlist  </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about" action="/search/getCategories" method="POST"> About </a>
    <a id="logout" class="item" href="/logout">Logout</a>
    <a id="spotify" class="item" href="/spotify">Login to Spotify</a>
    <a id="search" class="item" href="/search">Search Spotify</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
