<div class="ui card">
    <div class="content"></div>
    <div class="image">
        img
    </div>
    <div class="content">
        <span class="right floated">
            <i class="play icon"></i>
        </span>
        <i class="like icon"></i>
        
    </div>
</div>