{{> menu id="search"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Search Spotify 
  </h3>
  <form class="ui stacked segment form" action ="submit" method="GET">
      
          <div class="field">
              <input placeholder="Search" type="text">
        
      </div>
  </form>

</section>  