{{> menu id="search"}}
  <h3>
    Search Spotify Songs
  </h3>
  <form class="ui segment form" action="/search/searchSpotify" method="POST">
    <div class="field">
      <input placeholder="Search Songs" type="text" name="search">
      <button type="submit">Search</button>
    </div>
  </form>
</section>